:local(.resume) {
  font-family: 'Open Sans', sans-serif;
}

:local(.summary) {
}

:local(.contacts) {
  color: gray;
}

:local(.details) {
  display: flex;
}

:local(.experiences) {
  width: 75%;
}

:local(.skills) {
  width: 25%;
}

:local(.separator) {
  background-color: rgb(71, 117, 192);
  height: 0.1em;
}