:local(.resume) {
  font-family: sans-serif;
  font-family: 'Lucida Sans';
}

:local(.summary) {
}

:local(.details) {
  display: flex;
}

:local(.experiences) {
  width: 75%;
}

:local(.skills) {
  width: 25%;
}